In [1]:
event_df = sqlContext.read.format('com.databricks.spark.csv').options(header='true', inferSchema='true').load('/FileStore/tables/dataSet3Events.csv')

NameError: name 'sqlContext' is not defined

In [2]:
event_df.registerTempTable("table1")
queryDF = sqlContext.sql("SELECT make, model, count(*) as count, MIN(year) as MinYear, Max(year) as maxYear, AVG(year) as avgYear FROM table1 GROUP BY make, model ORDER BY make, model")
display(queryDF)

In [3]:
#examine the data and field/column names 
display(event_df)

In [4]:
event_df.cache()

In [5]:
#Examine the schema (to see the inferred types)
event_df.printSchema()

In [6]:
# Show info for a single field/column 
event_df.describe('year').show()

In [7]:
display(event_df.groupBy('make').count().orderBy('make'))

In [8]:
from pyspark.sql import functions as F
aggDf = event_df.where(event_df['mileage']>0).groupBy('make','vin').agg(F.mean(event_df.mileage)).alias('avgMileage'), 
F.min(event_df.mileage), F.max(event_df.mileage)

In [9]:
#By make/model, the min, max, and average price (excluding VINs with price = 0)
from pyspark.sql import functions as F

avg_min_max = event_df.where(event_df['price']>0).groupBy('make', 'model', 'vin').agg(F.mean(event_df.price), F.min(event_df.price), F.max(event_df.price))

In [10]:
avg_min_max.show()

In [11]:
event_df.select('make').distinct().orderBy('make')

In [12]:
event_df.show()

In [13]:
#If we collect up all the values from the DF, what do we get? 
event_df.select('make').distinct().orderBy('make').collect()

In [14]:
vinPriceDF = event_df.select('vin', 'price').filter(event_df.price >0)

In [15]:
display(event_df.crosstab('make', 'model'))

In [16]:
event_df.registerTempTable("table1")

In [17]:
#By year, the min, max, and average mileage (excluding VINs with mileage = 0)
query_df = sqlContext.sql("SELECT year, min(mileage), max(mileage), mean(mileage) FROM table1 WHERE mileage > 0 GROUP BY year, vin")
query_df.show()

In [18]:
#By VIN, the total for each event type

query_df_2 = sqlContext.sql("SELECT vin, event, count(event) FROM table1 GROUP BY vin, event")
query_df_2.show()

In [19]:
queryDF = sqlContext.sql("SELECT make, model, COUNT(*) as count, MIN(year) as minYear, MAX(year) as maxYear, AVG(year) as avgYear FROM table1 GROUP BY make, model ORDER BY make, model")

In [20]:
queryDF.show()

In [21]:
distinctVMMdf = sqlContext.sql("SELECT DISTINCT vin, year, make, model, price, mileage FROM table1")

In [22]:
distinctVMMdf.printSchema()